.app.dark {
    --bg-color: #06064b;
    --inverted-bg-color: #e5e5ee;
    --primary-color: #049604;
    --secondary-color: #04ff04;
    --inverted-primary-color: #0232c2;
    --inverted-secondary-color: #0449e0;
}
